<div class="container">

    <h2 class="mt-3">All Roles</h2>
    <div class="d-flex justfiy-content-end mt-3">
        <a href="Role/add-role" class="btn btn-primary">Add Role</a>
    </div>
    <br/>
    <div>
    <table class="table table-bordered table-striped table-hover ">
        <thead>
            <tr>
              <th>ID</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles">
            <td>{{ role.id }}</td>
            <td>{{ role.name }}</td>
            <td><button class="btn btn-danger" (click)="DeleteRole(role.id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  
  </div>