<div class="container">

    <h2 class="mt-3">All Users</h2>
    <div class="d-flex justfiy-content-end mt-3">
        <a href="User/add-user" class="btn btn-primary">Add User</a>
    </div>
    <br/>
    <div>
    <table class="table table-bordered table-striped table-hover ">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.Id }}</td>
            <td>{{ user.Name }}</td>
            <td>{{ user.Email }}</td>
            <td>{{ user.DateOfBirth| date:'dd/MM/yyyy'}}</td>
            <td>{{ user.Role.Name }}</td>
            <td><button class="btn btn-danger" (click)="DeleteUser(user.Id)">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>